<h1>Scrape#index</h1>
<p>Scraping delays information from <%= @site %></p>
<table>
<% @delays.each do |delay| %>
		<tr>
				<% link_label = delay.bus_route.routeLabel + ": " + delay.bus_route.routeName %> 
				<td><%= link_to link_label, delay.bus_route, :id => delay.bus_route.routeId %></td>
		</tr>
<% end %>
</table>
