<h1>Scrape#index</h1>
<p>Scraping delays information from <%= @site %></p>
<table>
<% @delays.each do |delay| %>
		<tr>
				<td><%= link_to delay.bus_route.routeName, delay.bus_route, :id => delay.bus_route.routeId %></td>
		</tr>
<% end %>
</table>
