<h1>Bus Routes</h1>
<table>
	<% @routes.each do |route| %>
		<tr>
			<% linkLabel = route.routeName + " (" + route.routeId + ")"; %>
			<td><%= link_to linkLabel, route, :id => route.routeId %></td>
    </tr>
	<% end %>
</table>
